.gnb {
    padding: 0 5 0 5;
}
#logoIcon {
    width: 20px;
    height: 20px;
    margin: 0 5 0 5;
}

.logo {
    display: inline-block;
}

.gnb button {
    display: inline-block;
    float: right;
    margin-top: 15px;
    padding: 5px 5px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 15px;

}


.gnb button:hover {
    background-color: #e7e7e7;
}

.node {
    padding: 5 0 5 0;
    margin-left: 16px;
}
/* 
.child {
    margin-left: 25px; 
}
.child.parent + .child {
    margin-left: 50px;
} 
*/

.favicon {
    display: inline-block;
}

/* favicon */
.favicon img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.title {
    display: inline-block;
    padding: 4 4 4 4;
}

.title a {
    cursor: pointer;
    font-weight: 300;
}

.status {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
/* status button */
.status img { 
    width: 16px;
    height: 16px;
    cursor: pointer;
}