.node {
    padding: 5 0 5 0;
    margin-left: 16px;
}
/* 
.child {
    margin-left: 25px; 
}
.child.parent + .child {
    margin-left: 50px;
} 
*/

.favicon {
    display: inline-block;
}

/* favicon */
.favicon img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.title {
    display: inline-block;
}

.title a {
    cursor: pointer;
    font-weight: 300;
}

.status {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
/* status button */
.status img { 
    width: 16px;
    height: 16px;
    cursor: pointer;
}